root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = unset

# JSON files
[*.json]
indent_size = 2

# XML files
[*.{xml,resx,ruleset}]
indent_size = 2

# .NET project files
[*.{csproj,vbproj,props}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# C# files
[*.cs]
csharp_style_namespace_declarations=file_scoped:suggestion
