# use glob syntax
syntax: glob

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.received.txt
*.orig
packages/
nuget.exe
docs/guidehtml
docs/apihtml

.idea/
*.iml

**/BenchmarkDotNet.Artifacts/*
**/project.lock.json
tests/output/*
.vs/restore.dg
artifacts/*
BDN.Generated
BenchmarkDotNet.Samples/Properties/launchSettings.json
src/BenchmarkDotNet/Disassemblers/net462/*
src/BenchmarkDotNet/Disassemblers/BenchmarkDotNet.Disassembler.*.nupkg

# Visual Studio 2015 cache/options directory
.vs/

# Cake
tools/**
.dotnet

# Xamarin
Resource.designer.cs

# Tests
TestResults