#---------------------------------#
#      general configuration      #
#---------------------------------#

# branches to build
branches:
  # blacklist
  except:
    - gh-pages

#---------------------------------#
#    environment configuration    #
#---------------------------------#
language: csharp
os:
  - linux
  - osx
sudo: required
dist: trusty
osx_image: xcode9.2 # OS X 10.12
mono: latest

addons:
  apt:
    sources:
      - llvm-toolchain-trusty-3.9
    packages: 
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - fsharp
    - clang-3.9

#---------------------------------#		
#       build configuration       #		
#---------------------------------#
before_script:
  - chmod +x build.sh
script:
  - travis_wait 30 ./build.sh