#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.10.9.{build}

# branches to build
branches:
  # blacklist
  except:
    - gh-pages

pull_requests:
  do_not_increment_build_number: true

# Do not build on tags (GitHub only)
skip_tags: true

#---------------------------------#
#    environment configuration    #
#---------------------------------#

os: Visual Studio 2017

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
- ps: .\build.ps1

test: off
deploy: off

artifacts:
  - path: '**\BenchmarkDotNet.*.nupkg' # find all NuGet packages recursively