#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.13.2.{build}

# branches to build
branches:
  # blacklist
  except:
    - gh-pages

pull_requests:
  do_not_increment_build_number: true

# Do not build on tags (GitHub only)
skip_tags: true

#---------------------------------#
#    environment configuration    #
#---------------------------------#

os: Visual Studio 2022

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

# add Visual C++ toolset to $path so NativeAOT tests can build native executables
before_build:
  - call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"

#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
- ps: .\build.ps1

test: off
deploy: off

artifacts:
  - path: '**\BenchmarkDotNet.*.*nupkg' # find all NuGet packages recursively