<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.6.0" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.6.0" targetFramework="net462" />
  <package id="Microsoft.CodeCoverage" version="17.6.3" targetFramework="net462" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net462" />
  <package id="Microsoft.NET.Test.Sdk" version="17.6.3" targetFramework="net462" />
  <package id="Perfolizer" version="0.2.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="7.0.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="xunit" version="2.5.0" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net462" />
  <package id="xunit.analyzers" version="1.2.0" targetFramework="net462" />
  <package id="xunit.assert" version="2.5.0" targetFramework="net462" />
  <package id="xunit.core" version="2.5.0" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.5.0" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.5.0" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.5.0" targetFramework="net462" developmentDependency="true" />
</packages>