#logo {
  width: 50px;
  height: 50px;  
}

/* Template customization */
@media (min-width:1300px){.container{width:1270px!important}}
@media (min-width:1400px){.container{width:1370px!important}}
@media (min-width:1500px){.container{width:1470px!important}}
@media (min-width:1600px){.container{width:1570px!important}}
@media (min-width:1700px){.container{width:1670px!important}}
@media (min-width:1800px){.container{width:1770px!important}}

/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
Source: https://github.com/isagalaev/highlight.js/blob/master/src/styles/vs.css
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}