<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <!-- Available Options: https://github.com/microsoft/codecoverage/blob/main/docs/configuration.md -->
  <CoverageFileName>coverage.cobertura.xml</CoverageFileName>
  <Format>cobertura</Format>
  <IncludeTestAssembly>false</IncludeTestAssembly>
  <DeterministicReport>true</DeterministicReport>
  <CollectFromChildProcesses>true</CollectFromChildProcesses>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*BenchmarkDotNet\.dll$</ModulePath>
        <ModulePath>.*BenchmarkDotNet.*\.dll$</ModulePath>
      </Include>
      <Exclude>
        <!-- Exclude third party DLLs -->
        <ModulePath>.*Argon\.dll$</ModulePath>
        <ModulePath>.*DiffEngine\.dll$</ModulePath>
        <ModulePath>.*EmptyFiles\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.CodeAnalysis\.Analyzer\.Testing\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.CodeAnalysis\.CSharp\.Analyzer\.Testing\.dll$</ModulePath>
        <ModulePath>.*Verify\.dll$</ModulePath>
        <ModulePath>.*Verify\.Xunit\.dll$</ModulePath>

        <!-- Exclude test DLLs -->
        <ModulePath>.*BenchmarkDotNet\.Analyzers\.Tests\.dll$</ModulePath>
        <ModulePath>.*BenchmarkDotNet\.Tests\.dll$</ModulePath>
        <ModulePath>.*BenchmarkDotNet\.IntegrationTests\.dll$</ModulePath>

        <!-- Exclude auto generated project DLLs -->
        <ModulePath>.*IntegrationTests.*\.dll$</ModulePath>
        <ModulePath>.*Dry.*\.dll$</ModulePath>
        <ModulePath>.*FSharp.Core\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
    <Attributes>
      <Exclude>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <Sources>
      <Exclude>
        <Source>.*\\[^\\]*\CodeAnnotations\.cs</Source>
        <Source>.*\\[^\\]*\.g\.cs</Source>
        <Source>.*\\[^\\]*\.notcs</Source>
      </Exclude>
    </Sources>
    <!-- Disable following settings. Because C++ code is not contained (See: https://github.com/microsoft/codecoverage/blob/main/README.md#get-started)-->
    <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
  </CodeCoverage>
</Configuration>
