name: build

on:
  pull_request:
  push:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        ./build.bat
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Clang
      uses: egor-tensin/setup-clang@v1
      with:
        version: latest
        platform: x64
    - name: Set up zlib-static
      run: sudo apt-get install -y libkrb5-dev
    - name: Run
      run: ./build.sh
  build-macos:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run
      run: ./build.sh